In [180]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

In [58]:
rain1 = pd.read_csv('train.csv')

In [175]:
rain1.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [60]:
df = pd.get_dummies(rain1, columns = ['Past_Disciplinary_Action', 'Qualification', 'Foreign_schooled', 'Channel_of_Recruitment', 'Division'], drop_first = True)

In [176]:
df.head()

,EmployeeNo,Gender,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,...,Channel_of_Recruitment_Direct Internal process,Channel_of_Recruitment_Referral and Special candidates,Division_Commercial Sales and Marketing,Division_Customer Support and Field Operations,Division_Information Technology and Solution Support,Division_Information and Strategy,Division_People/HR Management,Division_Regulatory and Legal services,Division_Research and Innovation,Division_Sourcing and Purchasing
0,YAK/S/00001,Female,2,1986,12.5,2011,1,0,41,ANAMBRA,...,1,0,1,0,0,0,0,0,0,0
1,YAK/S/00002,Male,2,1991,12.5,2015,0,0,52,ANAMBRA,...,0,0,0,1,0,0,0,0,0,0
2,YAK/S/00003,Male,2,1987,7.5,2012,0,0,42,KATSINA,...,1,0,1,0,0,0,0,0,0,0
3,YAK/S/00004,Male,3,1982,2.5,2009,0,0,42,NIGER,...,0,0,1,0,0,0,0,0,0,0
4,YAK/S/00006,Male,3,1990,7.5,2012,0,0,77,AKWA IBOM,...,1,0,0,0,0,1,0,0,0,0

In [140]:
X = df[['Trainings_Attended', 'Targets_met', 'Last_performance_score', 'Previous_Award', 'Past_Disciplinary_Action_Yes', 'Qualification_MSc, MBA and PhD', 'Qualification_Non-University Education', 'Foreign_schooled_Yes', 'Channel_of_Recruitment_Direct Internal process', 'Channel_of_Recruitment_Referral and Special candidates', 'Division_Commercial Sales and Marketing', 'Division_Customer Support and Field Operations', 'Division_Information Technology and Solution Support', 'Division_Information and Strategy', 'Division_People/HR Management', 'Division_Regulatory and Legal services', 'Division_Research and Innovation', 'Division_Sourcing and Purchasing']]
y = df['Promoted_or_Not']

In [141]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 1)

In [142]:
model = RandomForestClassifier()

In [149]:
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [150]:
accuracy_score(y_test, y_pred)

0.9142633433381182

In [181]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.99      0.95      7013
           1       0.47      0.07      0.13       650

    accuracy                           0.91      7663
   macro avg       0.69      0.53      0.54      7663
weighted avg       0.88      0.91      0.88      7663

#### Working with the test file

In [151]:
diff = pd.read_csv('Yakub_test.csv')

In [177]:
diff.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,YAK/S/00016,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,YAK/S/00017,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0

In [153]:
df1 = pd.get_dummies(diff, columns = ['Past_Disciplinary_Action', 'Qualification', 'Foreign_schooled', 'Channel_of_Recruitment', 'Division'], drop_first = True)

In [178]:
df1.head()

,EmployeeNo,Gender,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,...,Channel_of_Recruitment_Direct Internal process,Channel_of_Recruitment_Referral and Special candidates,Division_Commercial Sales and Marketing,Division_Customer Support and Field Operations,Division_Information Technology and Solution Support,Division_Information and Strategy,Division_People/HR Management,Division_Regulatory and Legal services,Division_Research and Innovation,Division_Sourcing and Purchasing
0,YAK/S/00005,Male,2,1976,7.5,2017,0,0,65,FCT,...,0,0,0,0,1,0,0,0,0,0
1,YAK/S/00011,Male,2,1991,0.0,2018,0,0,69,OGUN,...,1,0,0,0,1,0,0,0,0,0
2,YAK/S/00015,Male,2,1984,7.5,2012,0,0,76,KANO,...,1,0,0,0,0,0,0,0,1,0
3,YAK/S/00016,Male,2,1984,2.5,2009,0,0,52,RIVERS,...,0,0,0,1,0,0,0,0,0,0
4,YAK/S/00017,Male,2,1983,7.5,2014,1,0,69,FCT,...,0,0,0,0,1,0,0,0,0,0

In [163]:
X_test1 = df1[['Trainings_Attended', 'Targets_met', 'Last_performance_score', 'Previous_Award', 'Past_Disciplinary_Action_Yes', 'Qualification_MSc, MBA and PhD', 'Qualification_Non-University Education', 'Foreign_schooled_Yes', 'Channel_of_Recruitment_Direct Internal process', 'Channel_of_Recruitment_Referral and Special candidates', 'Division_Commercial Sales and Marketing', 'Division_Customer Support and Field Operations', 'Division_Information Technology and Solution Support', 'Division_Information and Strategy', 'Division_People/HR Management', 'Division_Regulatory and Legal services', 'Division_Research and Innovation', 'Division_Sourcing and Purchasing']]

In [164]:
model.fit(X_train,y_train)
y_pred1 = model.predict(X_test1)
y_pred1

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [165]:
y_pred1

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [166]:
y_pred1.shape

(16496,)

In [168]:
#accuracy_score(, y_pred1) no need for accuracy score while working with the test file

In [169]:
df2 = df1[['EmployeeNo']]
df2['Promoted_or_Not'] = y_pred1

<ipython-input-169-58b5c1f25694>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Promoted_or_Not'] = y_pred1

In [170]:
df2

        EmployeeNo  Promoted_or_Not
0      YAK/S/00005                0
1      YAK/S/00011                0
2      YAK/S/00015                0
3      YAK/S/00016                0
4      YAK/S/00017                0
...            ...              ...
16491  YAK/S/54797                0
16492  YAK/S/54798                1
16493  YAK/S/54800                1
16494  YAK/S/54803                0
16495  YAK/S/54804                0

[16496 rows x 2 columns]

In [172]:
df2.to_csv('Get_Dummies_Encoder.csv', index = False)